[buildout]
develop = .
parts = py py2 tags

[tags]
recipe = z3c.recipe.tag:tags
eggs = zodbupgrade

[py2]
recipe = zc.recipe.egg
eggs = ZODB3==3.8.1
interpreter = py2

[py]
recipe = zc.recipe.egg
eggs = zodbupgrade
interpreter = py
